.nav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px 40px;

  &__item {
    font-size: 24px;
    font-weight: 600;
    color: black;
    font-family: Montserrat, sans-serif;
    text-transform: uppercase;
    text-decoration: none;

    &.active {
      color: lightcoral;
    }
  }
}